html {
  font: 96px Courier;
  color: white;
}
.box {
  padding: 50px;
  width: 70px;
}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}

#box_0 {
	margin-left: 395px;
	margin-right: 395px;
}
#box_1 {
	float: left;
	margin-left: 310px;
}
#box_2 {
	margin-left: 480px;	
}

#box_3 {
	margin-left: 225px;
	margin-right: 395px;
	margin-top: 0px;
}
#box_4 {
	margin-left: 395px;
	margin-right: 225px;
	margin-top: -210px;
} 
#box_5 {
	margin-left: 565px;
	margin-right: 55px;
	margin-top: -210px;
} 

#box_6 {
	float: left;
	margin-left: 140px;	
}

#box_7 {
	margin-left: 310px;
}
#box_8 {
	margin-left: 480px;
	margin-top: -210px;
}
#box_9 {
	margin-left: 650px;
	margin-top: -210px;
}
